<!DOCTYPE html>
<html>
<head>
	<title>We'll be back soon !</title>
</head>
<body>
	<h1>Hello there!</h1>
	<p>We appreciate your intrest in our projects</p>
	<p>Don't worry we'll be back shortly.</p>
	{{> footer}}
</body>
</html>